:root {
  background-color: #E9E3B4;
  font-family: Garamond, serif;
  font-style: italic;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: none;
}


* {
  margin: 0px;
}
